<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @task.desc %>
</p>

<p>
  <strong>Task type:</strong>
  <%= @task.task_type %>
</p>

<p>
  <strong>Time:</strong>
  <%= @task.time %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
